<h1>Welcome </h1><br>
<h2>This is a Crud Application for implemented buisness model with all the validations and relationships</h2><br><br>

<h3>Below are the tables for the model!</h3><br>

<%= link_to 'Customer' , "/customers" %>
<%= link_to 'Orders' , "/orders" %>
<%= link_to 'Products' , "/products" %>
<%= link_to 'Addresses' , "/addresses" %>